[submodule "external/xmrpc"]
	path = external/xmrpc
	url = https://github.com/jtgrassie/xmrpc
[submodule "external/torsocks"]
	path = external/torsocks
	url = https://github.com/dgoulet/torsocks
[submodule "external/JSON.sh"]
	path = external/JSON.sh
	url = https://github.com/dominictarr/JSON.sh
[submodule "external/libconfig"]
	path = external/libconfig
	url = https://github.com/hinto-janaiyo/libconfig
[submodule "external/libjson"]
	path = external/libjson
	url = https://github.com/hinto-janaiyo/libjson
[submodule "external/stdlib"]
	path = external/stdlib
	url = https://github.com/hinto-janaiyo/stdlib
